<div class="nng-config">
    <div class="nng-config__inner-header">
        <h1>Settings</h1>
        <p>Da qui puoi modificare le tue impostazioni personali di Nerdz Ng.</p>
    </div>

    <h4 class="title inner-title">Elenco configurazioni disponibili</h4>
    <p class="innert-title--subtitle">Il salvataggio avviene in automatico.</p>


    <div class="inner-main-container">
        <div class="nng-config__element">
            • tema chiaro/scuro (cds-radio)
        </div>

        <div class="nng-config__element">
            • ...
        </div>
    </div>
</div>

