.post-authors {
    display: grid;
    grid-template-columns: max-content min-content max-content;

    &--separator {
        @include box--info();
        padding: 0 layout.$spacing-04; // remove botton+top padding to reduce height
        margin-right: 0;

        &:hover, &:active, &:focus {
            background-color: themes.$layer-02;
        }
    }

}   

.post-author {
    @include box--info();

    &.disable-reactivity {
        cursor: inherit;
        transition: none;

        &:hover, &:active, &:focus {
			background-color: themes.$background;
		}
    }

    &__userImage {
        width: 16px;
        height: 16px;

        & img {
            max-width: 100%;
            height: auto;
        }
    }

    &__username {
        margin-left: layout.$spacing-02;
        @include type.type-style("label-01");
    }

    &__online-badge {
        color: colors.$green-30;
    }

    &.scope--board { // <post-author> style in the header of user board
        padding: layout.$spacing-04;

        &:hover {
            background-color: themes.$background;
        }

        .post-author__userImage {
            width: 64px;
            height: 64px;
        }
    }

    &.scope--comment, &.scope--new-comment { // <post-author> style in post comments section
        padding: layout.$spacing-03 layout.$spacing-03; // smaller than little-info-box() mixin
        border-radius: 50%;

        &:hover, &:active, &:focus { // remove :hover bg change in the user img
            background-color: themes.$background;
        }

        .post-author__userImage img {
            border-radius: 50%;
        }
    }
}