@use "@carbon/layout";
@use "@carbon/themes";


.user-description {
    margin-bottom: layout.$spacing-05;

    .username {
        cursor: pointer;
    }
}

.user-description--tags {

    cds-tag:first-of-type { 
        margin-left: -(layout.$spacing-01); // remove margin left from 1° tag
    }
}