html { height: 100%; }
body { min-height: 100%; }

/* logic for auto-change the color of cds icons when the csdTheme css class change.
   for react to theme change the icon need to have the cds-icon--theme class on the <svg> element */
main {
    padding: layout.$spacing-07;
    padding-top: layout.$spacing-11;
	min-height: 100vh;

	&.cds--white {
		background-color: themes.$layer-01;
		svg.cds-icon--theme { // white theme
			fill: black;
		}
	}

	&.cds--g100 { 
		svg.cds-icon--theme { // g100 theme
			fill: white;
		 }
	}
}

textarea, button, .cds--btn, .cds--skeleton__text, .cds--skeleton__text::before {
	border-radius: layout.$spacing-01;
}

textarea.cds--text-area--light {
	background-color: themes.$layer-03;
}

.code-highlight {
	background-color: themes.$layer-02;
	margin: layout.$spacing-03;
	padding: layout.$spacing-03 layout.$spacing-05;
	@include type.type-style("code-01");

	code {
		text-wrap: pretty;
	}

	&__title {
		display: inline-block;
		background-color: themes.$layer-01;
		margin: layout.$spacing-02 0;
		padding: layout.$spacing-02;

		b { font-weight: bold; }
	}
}

button {
	@include type.type-style("body-compact-02")
}

img {
	max-width: 100%;
}