h1 { 
	margin: layout.$spacing-02 0 layout.$spacing-04 0;
	@include type.type-style("heading-05")
}
p {	
	line-height: 1.5; // todo: use token and not raw value
	margin: layout.$spacing-03 0; 
	@include type.type-style("body-02");

	&.heading {
		@include type.type-style("heading-03");
		margin: layout.$spacing-03 0; 
	 }

	&.helper-text-01 { // small text
		@include type.type-style("helper-text-01");
	}

	&.helper-text-02 { // less smaller text
		@include type.type-style("helper-text-02");
	}
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}