<div
	cdsGrid
	[useCssGrid]="true"
	[fullWidth]="true">
	<div cdsCol [columnNumbers]="{sm: 4, md: 6, lg: 10}" [ngStyle]="{ margin: 0 }">
		<new-post></new-post>
		<posts-list [posts]="posts" *ngIf="posts"></posts-list>		
	</div>
	<div cdsCol [columnNumbers]="{sm: 0, md: 2, lg: 6}"  [ngStyle]="{ backgroundColor: 'lightgray'}">
		<p>Online Followers</p>
		<span *ngIf="online_followers.length">
				<li *ngFor="let user of online_followers">{{ '@'+user.info.username }}</li>
		</span>
		
		<p>Lurked Posts</p>
		<span *ngIf="postsLurkedByUser">
				<li *ngFor="let lurked of postsLurkedByUser">#{{ lurked.pid }} of {{ '@'+lurked.from.username }}</li>
		</span>
	</div>
</div>