<div
	cdsGrid
	[useCssGrid]="true"
	[fullWidth]="true">
	<div cdsCol [columnNumbers]="{sm: 4, md: 6, lg: 10}" [ngStyle]="{ margin: 0 }">
		<new-post></new-post>
		<posts-list [posts]="posts" *ngIf="posts"></posts-list>		
	</div>
	<div cdsCol [columnNumbers]="{sm: 0, md: 2, lg: 6}"  [ngStyle]="{ backgroundColor: 'lightgray'}">
		<p>• online users</p>
		<p>Lurked posts</p>
		<pre *ngIf="postsLurkedByUser">
			<code>
				<li *ngFor="let lurked of postsLurkedByUser">#{{ lurked.pid }} of {{ '@'+lurked.from.username }}</li>
			</code>
		</pre>
	</div>
</div>