<div class="post-author" *ngIf="author && scope == 'post'" 
     [routerLink]="getBoardLink()" [ngClass]="{ scope, 'disable-reactivity': !reactivity}">

    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
    <div class="post-author__username">
        <span>{{author.username}}</span>  
    </div>
</div>

<div class="post-author" *ngIf="author && scope == 'board'" 
    [routerLink]="boardLink" [ngClass]="{scope, 'disable-reactivity': !reactivity}">
    
    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
</div>

<div class="post-author" *ngIf="author && scope == 'comment'" 
     [routerLink]="boardLink" [ngClass]="{scope, 'disable-reactivity': !reactivity}">

    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
</div>