<div class="post-author" *ngIf="author && scope == 'post'" 
     [routerLink]="getBoardLink()" [ngClass]="{ 'disable-reactivity': !reactivity, 'scope--post':true }">

    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
    <div class="post-author__username">
        <span>{{author.username}}</span>  
    </div>
</div>

<div class="post-author" *ngIf="author && scope == 'board'" 
    [routerLink]="boardLink" [ngClass]="{'disable-reactivity': !reactivity, 'scope--board':true}">
    
    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
</div>

<div class="post-author" *ngIf="author && scope == 'comment'" 
     [routerLink]="boardLink" [ngClass]="{'disable-reactivity': !reactivity, 'scope--comment':true}">

    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
</div>

<div class="post-author" *ngIf="author && scope == 'new-comment'" 
     [ngClass]="{'disable-reactivity': !reactivity, 'scope--comment':true}">

    <div class="post-author__userImage">
        <img src="{{author.image}}" alt="the image of {{author.username}}" />
    </div>
</div>