<div class="post-comments--comment" *ngIf="comment">
    <author [author]="author" scope="comment" *ngIf="comment.from"></author> 
    <div class="comment__content">
        <div class="content__author-info">
            <span class="info__name" [routerLink]="['/board', comment.from.id]">{{ comment.from.username }}</span>
            <span class="info__icon">•</span>
            <span class="info__date">{{ comment.time | prettyDate }}</span>
            
            <span class="info__icon">•</span>
            <span class="info__rate">
                <svg class="cds--btn__icon cds-icon--theme" cdsIcon="badge" size="16"></svg>
                <span class="rate-value">0</span>
            </span>
            
            <post-comment-actions 
            [post]="post" [comment]="comment"
            (edit)="dispatchEditComment($event)"
            (remove)="dispatchRemoveComment($event)"
            ></post-comment-actions>
        </div>
        <p class="content__msg" [innerHTML]="comment.message | bbCode | nToBr"></p>
    </div>
</div>