@use "@carbon/colors";
@use "@carbon/styles";
@use "@carbon/layout";
@use "@carbon/themes";
@use "@carbon/type";

.title {
    padding-top: layout.$spacing-05;
    padding-bottom: layout.$spacing-06;

    margin-bottom: layout.$spacing-05;
}

.user-post {
    word-wrap: break-word;
    margin-bottom: layout.$spacing-03;
    padding: layout.$spacing-05;
    background-color: themes.$layer-01;

    &__content {
        @include type.type-style("body-compact-01")
    }
}