<div class="nng-about">
    <div class="inner-header">
        <h1>About Nerdz Ng</h1>
        <p>Nerdz Ng è un porting in Angular del social network opensource chiamato Nerdz.</p>
    </div>

    <!-- <h4 class="title inner-title">About Nerdz Ng</h4>
    <p class="innert-title--subtitle">Social Network scritto in Angular tramite le Api di Nerdz.eu</p> -->

    <div class="inner-main-container">
        <p class="heading">Nerdz Ng è un progetto open source ed il suo codice sorgente è disponibile <a href="https://github.com/CastenettoA/nerdz-ng">su Github</a> distribuito con licenza GPL-3.0.</p>
        <p>E' un social network basato sulle Api pubbliche del progetto <a href="https://github.com/nerdzeu">Nerdz.eu</a>.</p>
        <p>Se vuoi aiutare lo sviluppo e il mantenimento di <b>Nerdz Ng</b> puoi <a href="https://github.com/sponsors/CastenettoA">diventare un sponsor</a>, oppure, essendo un progetto open source puoi collaborare direttamente tramite code review, bug fixing e sviluppo di nuove funzionalità.</p>
        <p>Puoi segnalare un bug o proporre una miglioria funzionale e/o grafica aprendo una <a href="https://github.com/CastenettoA/nerdz-ng/issues">issue su Github</a>.</p>
    </div>
</div>

