<ng-container *ngIf="author">
    <div class="post-author" [routerLink]="getBoardLink()" [ngClass]="getClasses()">  

        <div class="post-author__userImage">
            <img src="{{author.image}}" alt="the image of {{author.username}}" />
        </div>

        <div class="post-author__username" *ngIf="['post', 'list'].includes(scope)">
            <b><span>{{author.username}}</span></b>
            <b><span *ngIf="pid" style="margin-left: .3rem;">#{{pid}}</span></b>  
            <!-- <span class="post-author__online-badge" *ngIf="author.online">•</span> -->
        </div>

    </div>
</ng-container>
