<div class="post-comments">
    <div class="post-comments--count" (click)="loadComments()" [ngClass]="{ 'no-comment': post.comments <= 0}">
        Commenti ({{post.comments}})
    </div>

    <div class="post-comments--container" *ngIf="comments && !commentsLoading">

        <!-- the comments preview -->
        <post-comment 
            *ngIf="!commentsOpen; else elseBlock" 
            [comment]="comments[0]" [post]="post"
            (remove)="refreshCommentsList($event, 'remove')"
            (edit)="editComment($event)"></post-comment>
        
        <!-- list of all comments -->
        <ng-template #elseBlock>     
                <p class="container__title" *ngIf="comments.length > 0">Commenti</p>
                <p class="container__title" *ngIf="comments.length <= 0">Nessun commento</p>

                <post-comment *ngFor="let comment of comments" [post]="post"
                    [comment]="comment" 
                    (remove)="refreshCommentsList($event, 'remove')" 
                    (edit)="editComment($event)"></post-comment>

                <!-- transform in <compose-comment> -->
                <new-comment 
                    [post]="post" (new)="refreshCommentsList($event, 'new')"
                    [commentToEdit]="commentToEdit"
                ></new-comment>
        </ng-template>
        
    </div>

    <div *ngIf="commentsLoading && !commentsOpen">
        <div class="container__loading">
            <div class="loading--userIcon">
                <cds-skeleton-text [lines]="1" [minLineWidth]="40" [maxLineWidth]="40"></cds-skeleton-text>
            </div>
            <cds-skeleton-text [lines]="2" [minLineWidth]="150" [maxLineWidth]="320"></cds-skeleton-text>
        </div>
    </div>

    <div *ngIf="commentsLoading && commentsOpen">
        <div class="container__loading" *ngFor="let item of [0,1,2]">
            <div class="loading--userIcon">
                <cds-skeleton-text [lines]="1" [minLineWidth]="40" [maxLineWidth]="40"></cds-skeleton-text>
            </div>
            <cds-skeleton-text [lines]="2" [minLineWidth]="150" [maxLineWidth]="320"></cds-skeleton-text>
        </div>
    </div>

</div>