.nng-pm {

	&--inner-header {
		@include box();

		button {
			margin-top: layout.$spacing-04;
		}
	}

	&__single-pm {
		display: flex;
		@include box($hover: true, $sm: true);

		.post-author, .pm--info__date {
			min-width: 160px;
			justify-content: left;
			margin-bottom: 0 !important;
		}

		.pm--info {
			display: flex;
			justify-content: flex-end;
		
			&__date {
				@include box--info($justify: right, $reactivity: false);
				margin-left: layout.$spacing-03;
			}
	
			&__date {
				min-width: 160px;
				padding-right: layout.$spacing-05;
			}
		}
	}

}